/**********************************************************************ELEMENTS***************************************************************************/
a {
  color: #66BFBF;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
}

a:hover{
  color: black;
}

body {
  background-color: mintcream;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Lora', serif;
  font-size: 3rem;
  margin: 0 auto 0 auto;
  width: 30%;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Lora', serif;
}

p {
  margin-bottom: 0;
}

hr{
  border: none;
  border-top: dotted;
  border-width: 10px;
  width: 5%;
  margin: 2% auto;
  border-color: grey;
}

/**********************************************************************CLASSES****************************************************************************/
.top_container {
  background: mintcream;
  padding-bottom: 150px;
}

.middle_container {
  background: white;
}

.bottom_container {}

.top_cloud {
  right: 15%;
  position: absolute;
  top: 2%;
}

.bottom_cloud {
  left: 15%;
  position: absolute;
}

.hand_img {
  float: left;
  height: 30%;
  margin-right: 30px;
  width: 25%;
}

.world_img {
  float: right;
  height: 30%;
  margin-left: 30px;
  width: 25%;
}

.skill-row{
  line-height: 2;
  margin: 70px auto;
  text-align: left;
  width: 50%;
}

.shea-pic{
  height: 20%;
  width: 20%;
  border-radius: 100%;
  margin: 50px auto 0 auto;
}

.hello{
  font-size: 2rem;
  font-family: 'Lora', serif;
}

.btn {
	box-shadow:inset 0 1px 0 0 #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
  margin: 20px auto;
  margin-bottom: 50px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #154682;
}
.btn:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.btn:active {
	position:relative;
	top:1px;
}

.skills_hdr{
  color: #11999E;
}

.my_skills_hdr{
  font-size: 2rem;
}

.footer-link{
  color: #66BFBF;
  font-family: 'Titillium Web', sans-serif;
  margin: 20px 20px;
  text-decoration: none;
}

.copyright{
  font-size: .75rem;
  padding: 20px 0;
}


/*

.data_desc{
  clear: left;
}

.experience_desc{
  clear: right;
}

*/
